body{
  height:100vh;
  padding:10px;
}
h2{
  background-color:purple;
  color:#fff;
  text-align:center;
   width:100%;
   height:60px;
}
.container{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border:10px solid red;;
}
.p-1{
  background-color:blue;
  width:200px;
  height:auto;
  margin:10px;
}
.p-2{
    width:200px;
  height:auto;
  background-color:red;
  margin:10px;
}
.p-3{
    width:200px;
  height:auto;
  background-color:green;

  margin:10px;

}
.p-4{
    width:200px;
  height:auto;
  background-color:purple;
  margin:10px;
}
.p-5{
    width:200px;
  height:auto;
  background-color:orange;
  margin:10px;
}
.btn{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  border:5px solid blue;
  gap:20px;
}
.btn1,.btn2,.btn3,.btn4,.btn5,.btn6{
width:200px;
  height:auto;
  border-radius:5px;
  margin:10px;
  padding:6px 30px;
  border:none;
  cursor:pointer;
}
.btn1{
  background-color:blue;
}
.btn2{
  background-color:red;
}
.btn3{
  background-color:orange;
}
.btn4{
  background-color:purple;
}
.btn5{
  background-color:pink;
}
.btn6{
  background-color:yellow;
}
.img-container{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:flex-end;
  flex-wrap:wrap-reverse;
  column-gap:30px;
  padding:30px;
  position:absolute;
  right:10px;
  bottom:35%;
  cursor:pointer;
}
.img-1,.img-2,.img-3,.img-4,.img-5{
  width:100px;
  height:auto;
  border-radius:5px;
}
.img-3{
  order:3;
}

.lorean{
  height:100vh;
  border:5px solid green;
  margin:2% 5%;
  padding:0 20px;
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
  column-gap:20px;
}
.loren-1{
  background-color:blue;
  width:200px;
  padding:6px 5px;
  border-radius:5px;
  align-self:flex-end;
}
.loren-2{
  background-color:red;
  width:200px;
  padding:6px 5px;
  border-radius:5px;
  order:5;
  align-self:flex-start;
}
.loren-3{
  background-color:yellow;
  width:200px;
  padding:6px 5px;
  border-radius:5px;
  align-self:flex-end;
}
.loren-4{
  background-color:pink;
  width:200px;
  padding:6px 5px;
  border-radius:5px;
}
.loren-5{
  background-color:purple;
  width:200px;
  padding:6px 5px;
  border-radius:5px;
}
.flex-container{
  width:100%;
  height:100vh;
  border:5px solid blue;
  padding:1% 4%;
  display:flex;
  justify-content:space-around;
  align-self:center;
  text-align:center;
  flex-direction:column;
  gap:20px;
  flex-basis:300px;
  flex-grow:1;
  flex-shrink:2;

}
.flex-container .box-1{
  font-size:2rem;
  color:#fff;
  background-color:red;
  height:auto;
  border-radius:3px;
  flex-grow:2;
  flex-shrink:1;
}
.flex-container .box-2{
  font-size:2rem;
  color:#fff;
  background-color:blue;
  height:auto;
  border-radius:3px;
  flex-shrink:2;
  flex-grow:1;
  flex-basis:200px;
}
.flex-container .box-3{
  font-size:2rem;
  color:#fff;
  background-color:#333;
  height:auto;
  border-radius:3px;
  flex-grow:2;
  flex-basis:14px;
  flex-shrink:2;
}
.flex-container .box-4{
  font-size:2rem;
  color:#fff;
  background-color:yellow;
  width:200px;
  height:auto;
  border-radius:3px;

}
.flex-container .box-5{
  font-size:2rem;
  color:#fff;
  background-color:orange;
  width:200px;
  height:auto;
  border-radius:3px;
}
.flex-box-container{
    border:6px solid orange;
    display:flex;
    margin:20px 0;
  width:1000px;
  flex-direction:row;
  flex-wrap:wrap;
  flex-grow:3;

}
.box-item-1{

height: 100px;
background-color: rgb(162, 224, 68);
  flex-grow:1;

}
.box-item-2{

height: 100px;
background-color: rgb(47, 231, 255);
  flex-grow:2;

}
.box-item-3{
  background-color:red;
  height:100px;
  flex-grow:1;

}
.flex{
  background-color:#ccc;
  border:5px solid blue;
  display:flex;
  flex-direction:row;
  justify-content:center;
  text-align:center;
  flex-basis:200px;

}
.flex-1{
  background-color:yellow;
  font-size:1.5rem;
  width:300px;
  height:auto;
  color:#fff;
  flex-basis:200px;
  flex-grow:2;
  flex-shrink:1;
}
.flex-2{
  background-color:pink;
  font-size:1.5rem;
  width:300px;
  height:auto;
  color:#fff;
  flex-basis:100px;
  flex-grow:2;
  flex-shrink:3;
 
}
.flex-3{
  background-color:red;
  font-size:1.5rem;
  width:300px;
  height:auto;
  color:#fff;
  flex-basis:50px;
  flex-grow:2;

}

